@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* universal */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body */
body { font-family: "Roboto", sans-serif; }

a { text-decoration: none; }

li { list-style: none; }

/* wrapper */
.wrapper {
  max-width: 1400px;
  width: 92.13%;
  margin: 0 auto;
}

/* Login Start */

/* login-page */
.login-page {
  width: 100%;
  padding: 8% 0;
  margin: auto;
  background: #3B013E;
}

.login-page h1 {
  padding: 10px;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

/* form */
.form {
  max-width: 300px;
  padding: 45px;
  margin: 0 auto 100px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}

.form h2 {
  padding: 15px;
  font-size: 24px;
}

.form input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border: 0;
  margin: 0 0 15px;
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 0;
}

.form #button {
  width: 100%;
  padding: 15px;
  border: 0;
  background: #4CAF50;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: 0;
  text-transform: uppercase;
}

.form #button:hover,
.form #button:active,
.form #button:focus { background: #43A047; }

#errormsg {
  display: none;
  color: red;
  font-size: 12px;
}

/* Login End */

/* Header Start */

/* header */
header {
  margin-bottom: -1px;
  background: #3B013E;
}

/* logo */
.logo { display: inline-block; }

.logo h1 { font-size: 32px; }

.logo a { color: #fff; }

.logo img {
  width: 220px;
  height: 110px;
  margin-bottom: -4px;
}

/* nav */
nav {
  padding: 33px 0;
  display: inline-block;
  float: right;
}

nav li {
  padding: 10px 15px;
  display: inline-block;
}

nav a {
  padding: 55px 10px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

nav a:hover,
.active {
  background-color: #fff;
  color: #3B013E;
}

/* Header End */

/* Banner Start */

/* banner */
.banner { position: relative; }

.banner img {
  width: 100%;
  height: auto;
}

/* banner text */
.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
}

.main-text h2 {
  padding: 30px 0;
  font-size: 40px;
  font-weight: 600;
}

.main-text p { font-size: 18px; }

/* Banner End */

/* Info Section Start */

/* info section */
.info { padding: 60px 0; }

.info h3 {
  width: 100%;
  padding: 20px 0;
  border-bottom: 2px solid #3B013E;
  color: #3B013E;
  font-size: 30px;
  font-weight: 600;
}

.info p {
  padding: 20px 0;
  font-size: 18px;
}

.info p span { 
  color: #35003b;
  font-weight: 600;
 }

/* Info Section End */

/* Club List Start */
.clubs {
  width: 100%;
  padding: 8% 0px;
  margin: auto;
}

#select-club {
  max-width: 300px;
  width: 1000px;
  padding: 15px;
  border: none;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1;
  background: #3B013E;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px, rgba(0, 0, 0, 0.24) 0px 5px 5px 0px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

#output {
  margin: 0 auto;
  display: block;
  font-size: 20px;
}

#display {
  margin: 0 auto;
}

/* Club List End */

/* Footer Start */

/* Footer */
footer { background-color: #3B013E; }

footer li { padding: 10px 0; }

footer a {
  padding: 10px;
  color: #fff;
  font-size: 18px;
}

.ftop { padding: 60px 0; }

.flogo, 
.navs {
  width: 49%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.navs a:hover {
  padding: 10px;
  background: #fff;
  color: #3B013E;
}

.social { padding: 20px 0; }

.social a:hover { border-radius: 50%; }

.foot {
  border-top: 2px solid #fff;
  font-size: 16px;
}

.foot p {
  padding: 20px 0;
  display: inline-block;
  color: #fff;
}

.policy {
  padding: 18px 0px;
  float: right;
}

.policy a {
  color: #fff;
  font-size: 16px;
}

/* Footer End */